.c-company {
//   background-color: #E0F2FF;
  padding: 60px 0;
  color: #ffffff;

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 40px;
    border-bottom: 2px solid #013366;
    display: inline-block;
	color: #013366;
  }

  .company-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    li {
      background: #1e2a38;
      padding: 20px;
      border-radius: 10px;
      list-style: none;
      font-size: 16px;
      line-height: 1.6;
      span {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        color: #ccc;
      }
	  a {
		color: #ffffff;
		&:hover {
			border-bottom: 1px solid #ffffff;
		}
	  }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.executives {
  margin-top: 60px;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    border-left: 4px solid #00bcd4;
    padding-left: 12px;
    color: #013366;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background: #1e2a38;
      padding: 15px 20px;
      border-radius: 8px;
      margin-bottom: 12px;
      font-size: 16px;
      color: white;
      display: flex;
      flex-direction: column;

      span {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}
