@use "variables" as v;
@use "mixin" as m;

.c-company {
  //   background-color: #E0F2FF;
  padding: 60px 20px;
  color: #ffffff;
  .menu-img {
    background-image: url(../img/box/company_img.jpeg);
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 20px;
  }

  .fixed-bg {
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	@include m.tab {
		height: clamp(150px,2.5vh,300px)
	}

    .section-title {
      font-size: clamp(1.4rem, 2.5vw, 3rem); // ← レスポンシブフォント
      font-weight: bold;
      margin: 0 0 40px 20px;
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 10px;
    }
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .company-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    li {
      background: #1e2a38;
      padding: 20px;
      border-radius: 10px;
      list-style: none;
      font-size: 16px;
      line-height: 1.6;
      span {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        color: #ccc;
      }
      a {
        color: #ffffff;
        &:hover {
          border-bottom: 1px solid #ffffff;
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.executives,
.message {
  margin-top: 60px;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    border-left: 4px solid #00bcd4;
    padding-left: 12px;
    color: #013366;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background: #1e2a38;
      padding: 15px 20px;
      border-radius: 8px;
      margin-bottom: 12px;
      font-size: 16px;
      color: white;
      display: flex;
      flex-direction: column;

      span {
        color: #ccc;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}
