.c-s-history {
  position: relative;
  background-color: #e0f2ff;
  overflow: hidden;
  padding: 60px 0;
  color: white;
  height: auto;
  min-height: 100vh; /* ←必要ならこちら */

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    .section-title {
      font-size: 32px;
      margin: 0 0 40px 20px;
      color: #013366;
      border-bottom: 2px solid #013366;
      display: inline-block;
      position: sticky;
      top: 20px;
      //   background: white; /* 背景つけて見やすく */
      z-index: 10;
      padding: 10px;
    }

    .history-container {
      display: none;

      display: grid;
      //   grid-auto-flow: column;
      grid-template-rows: auto auto;
      width: max-content;
      gap: 40px;
      overflow: auto;
      padding: 20px;
      padding-right: 550px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      .history-item {
		display: none;
        flex: 0 0 auto;
        width: 900px;
        height: 250px;
        background-color: #1e2a38;
        padding: 20px;
        border-radius: 8px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        position: relative;
        scroll-snap-align: start;
        flex: 0 0 80vw; // 横幅を調整

        & a {
          color: gray;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
        ￥ .history-image {
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 12px;
          }
        }

        .history-content {
          display: flex;
          flex-direction: column;

          time {
            font-size: 20px;
            color: #aaa;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 24px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}


.history-container .history-item:nth-child(-n + 3) {
  display: flex;
}

.history-show-more {
  text-align: center;
  margin-top: 20px;

  #showMoreBtn {
    background-color: #013366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
}
