@use "mixin" as m;

// カラーコード
$white: #FDFEFE;
$black: #181818;
$main: #0B419A;

// フォントサイズ
$site-title: 250px;
$sub-title: 64px;
$sub-title-span: 15px;

// 左右余白
$pc-spase: 0 100px;
$tab_spase: 0 32px;
$sp-spase: 0 15px;

//
$transition-ease: cubic-bezier(0.165, 0.84, 0.44, 1);
